<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/DateTimePicker.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li>
                        <a href="/pages/home">Home</a>
                    </li>
                    <li>
                        <a href="/pages/search">Search</a>
                    </li>
                    <li class="active">
                        <a href="/pages/create">Create</a>
                    </li>
                    <li>
                        <a href="/pages/admin">Admin</a>
                    </li>
                </ul>
                <div class="page-header" style='background-color:#E9ECEF;padding:60px'>
                    <h1>
                        Event Management System<br /> <small>HKBU Event Management System is a web-based system for
                            department and student societies to broadcast events and activities as well as
                            registration.</small>
                    </h1>
                </div>
                <table class="table" contenteditable="true">
                    <tbody>
                        <tr class="success list_" id="">
                            <td>1</td>
                            <td>Singing Contest</td>
                        </tr>
                        <tr class="default list_" id="">
                            <td>2</td>
                            <td>Culture and Politics in European Cinema</td>
                        </tr>
                        <tr class="warning list_" id="">
                            <td>3</td>
                            <td>Workshop on Design for Sustainability</td>
                        </tr>
                        <tr class="info list_" id="">
                            <td>4</td>
                            <td>Smarter Hong Kong, Smarter Living</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/DateTimePicker.js"></script>
    <script>
        $(function () {
            var id_;
            $("#dtBox").DateTimePicker();
            Get_data();
            $('.list_').click(function () {
                window.open('admin_detail.html?id=' + id_);
            });

        });
        function Get_data() {
            //获取列表
        }
    </script>
</body>

</html>